{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "semi": false,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
